version: '3.8'
services:  
  uvicorn_server:
    image: petnet:latest
    container_name: uvicorn_server
    platform: linux/amd64
    command: uvicorn server.app:app --host 0.0.0.0 --port 9001
    ports:
      - "9001:9001"
    
  
  streamlit_ui:
    image: petnet:latest
    container_name: streamlit_ui
    platform: linux/amd64
    command: streamlit run server/ui.py --server.address 0.0.0.0 --server.port 9002 --server.fileWatcherType None --browser.gatherUsageStats False
    ports:
      - "9002:9002"
    

  
